$header-font: Helvetica, sans-serif;
$main-font: Merriweather, Georgia, serif;

nav ul {
  list-style-type: none;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  font-family: $main-font;
  height:100%;
}

body {
  margin: 0;
  height: 100%;
  padding: 10px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  p, h1, h2, ul {
    padding: 5px 0;
    margin: 0 5px;
  }
}

.header {
  font-family: $header-font;
  h1 {
    font-size: 2em;
    font-weight: normal;
  }
}

p {
  text-align: justify;
}
