packages:
  yum:
    postgresql-devel: 9.2
    rubygems: 1.8.25
    memcached: 1.4.13
    git: []

commands:
  01_install_compass:
    command: "gem install compass"

container_commands:
  01_compile_compass:
    command: "compass compile --output-style compressed --force alsudani"
  02_collectstatic:
    command: "./manage.py collectstatic --noinput"
  03_replacewsgi:
    command: "cp .ebextensions/wsgi.conf ../wsgi.conf"
  04_syncdb:
    command: "./manage.py syncdb --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: alsudani/wsgi.py
