{% load static %}

<!DOCTYPE html>

<html>
<head>

    <title>
        {% block title %}
            {% if title %}
                {{ title }} - Ahmed Al-Sudani
            {% else %}
                Ahmed Al-Sudani
            {% endif %}
        {% endblock %}
    </title>



</head>

<body>
    {% block nav %}
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                {% comment %}
                <li><a href="/resume/"></a></li>
                <li><a href="/lab/">lab</a></li>
                {% endcomment %}
            </ul>
        </nav>
    {% endblock %}
</body>
</html>