{% extends 'base.html' %}
{% block content %}
<p> Hi,</p>

<p> My name is Ahmed. I am a developer and a computer science student at the University of Waterloo.</p>

<p> I am available for hire on a contract basis and potentially for a co-op term. My next co-op slot covers the months
    May 1, 2015 to August 31, 2015.
</p>

<p> Reach me at <a href="mailto:ahmed[-at-]al-sudani.com"> ahmed[-at-]al-sudani.com</a>.</p>

<p> Look at my projects on <a href="https://github.com/ahmedalsudani"> Github</a>.</p>

<p> Find out about some of the boring parts of my life on <a href="https://twitter.com/ahmedalsudani"> Twitter</a>.</p>
{% endblock %}
